﻿<!doctype html>
<html lang="en">
<head>
<!--    <meta charset="utf-8" />-->
    <title>Page Title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="container theme-showcase" role="main">
    <headder>
        <div class="page-header">
            <h1>
                Sample APP <small>- Sub Title</small>
            </h1>
        </div>
    </headder>
    <section>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{{ pagestatus1 }}"><a href="{{ url_for('sampleActionMethod') }}">Sample Page 1</a></li>
        </ul>
    </section>
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
