{% extends "layout.html" %} {% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        Page Header
    </div>
    <div class="panel-body">
        <form action="{{ url_for('sampleActionMethod') }}" method="post" role="form">
        <div class="form-group">
            <div for="row">
                Sample Row
			</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Submit</button>
        </div>
        </form>
    </div>
</div>
{% endblock %} 